<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab icon="ion-android-list" title="Upcoming" ui-sref="tab.upcoming">
		<ion-nav-view name="upcoming"></ion-nav-view>
	</ion-tab>

  <ion-tab icon="ion-android-calendar" title="Calendar" ui-sref="tab.calendar">
		<ion-nav-view name="calendar"></ion-nav-view>
	</ion-tab>

	<ion-tab icon="ion-ios-people" title="Groups" ui-sref="tab.groups">
		<ion-nav-view name="groups"></ion-nav-view>
	</ion-tab>

  <ion-tab icon="ion-android-chat" title="Messages" ui-sref="tab.messages">
		<ion-nav-view name="messages"></ion-nav-view>
	</ion-tab>

</ion-tabs>
